.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height:80vh;
  white-space: pre;
  flex-direction: column;
}

.App-header {
  text-align: center;
}